<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel labore, in sunt recusandae repellendus magni, nihil, minus dolores magnam commodi ea exercitationem aperiam saepe incidunt fugit enim quis eligendi ipsam!
    Asperiores temporibus, officia consequatur consectetur vero quia! Libero dolorem nesciunt corporis architecto voluptate voluptatibus fuga ex, distinctio ut tenetur sunt dolores corrupti ipsam, deserunt voluptatum cum blanditiis adipisci? Praesentium, iste!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ut ipsa sit! Quam aperiam tenetur doloremque laborum, odit, vero beatae ipsum autem id veniam modi culpa facilis, aliquid eveniet deleniti.</p>
</body>
</html>